body {
    font-family: Arial;
    margin: 10px;
}

header {
    background-color: #3999d4;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
    
header ul {
    list-style: italic;
}

.about-me {
    text-align: left;
    padding: 5px;
    margin: 50px;
    color: white;
}

.intro {
    text-align: left;
    padding: 20px;
    margin: 2px;
    text-align: left;
}

.skills {
    text-align: center;
    background-color: rgb(162, 197, 246);
}

.box {
    background:rgb(21, 83, 169);
    color: white;
    padding: 20px;
    width: 150px;
   transition-duration: 1s;
}

.work {
    text-align: center;
    display: flex;
    gap:20px;
    justify-content: center;
}

.job {
    font: bold;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background: white;
    text-decoration: none;
    margin-top: 10px;
}
footer {
     background:black;
    color: white;
    text-align: center;
    padding: 10px;
}